---
# handlers file for postfix
- name: restart postfix
  service:
    name: "{{ postfix_service }}"
    state: restarted
  when:
    - ansible_virtualization_type != "docker"

- name: rebuild alias database
  command: postmap "{{ postfix_alias_path }}"
