---
dependency:
  name: galaxy
  options:
    role-file: requirements.yml
driver:
  name: docker
lint:
  name: yamllint
platforms:
  - name: ansible_lint-debian-stable
    image: debian:stable
provisioner:
  name: ansible
  inventory:
    group_vars:
      all:
        ansible_lint_ignore_docker: no
  lint:
    name: ansible-lint
scenario:
  name: debian-stable
verifier:
  name: goss
  lint:
    name: yamllint
