---
# vars file for docker

_docker_packages:
  default:
    - docker
  Debian:
    - docker.io
  RedHat-7:
    - docker-io
  RedHat:
    - moby-engine

docker_packages: "{{ _docker_packages[ansible_os_family ~ '-' ~ ansible_distribution_major_version] | default(_docker_packages[ansible_os_family] | default(_docker_packages['default'] )) }}"

docker_pip_packages:
  - docker

_docker_service:
  default: docker
  RedHat: "docker"

docker_service: "{{ _docker_service[ansible_os_family] | default(_docker_service['default'] ) }}"

docker_socket: /var/run/docker.sock
