{{ ansible_managed | comment }}
[Unit]
Description=Ansible Runtime Analyser

[Service]
Type=simple
ExecStart={{ ara_binary_location }}/ara-manage runserver
User={{ ara_user }}

[Install]
WantedBy=multi-user.target
